

<div class="widget aboutme">
    <h3>HAKKIMDA</h3>
    <div class="main-content">
        <img class="img-circle img-responsive" src="@Model.Kullanici.ProfilPic" alt="about">
        <span>@Model.Kullanici.Name</span>
        <p>
            @Model.Kullanici.Hakkimda
            <a href="/About/About/">daha fazla...</a>
        </p>
    </div>
</div>