@using (Html.BeginForm())
{

}

<div class="main-part">
    <div class="contact">
        <div class="container">
            
            <div class="row">
                <img class="img-responsive" src="/Content/Site/images/big-aboutme.jpg" alt="about me">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quae earum error accusantium perferendis, facilis unde mollitia quas rem culpa minima cum, officiis nihil quam iusto ab voluptatibus repudiandae! Sit vero cum aliquid iste officiis perferendis, velit optio voluptatem obcaecati. Eos cumque error veniam accusamus soluta tenetur officiis accusantium neque, possimus assumenda quae voluptates quidem dolorem repellat officia, debitis ullam animi. Quasi.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eaque magnam aspernatur, voluptas vitae. Vitae quos dicta, totam quae eaque omnis, delectus modi dolorum aliquid inventore iusto accusamus dignissimos possimus qui magni consectetur quasi corporis voluptatibus similique sed. Nam, similique. Incidunt harum cumque, aliquid quidem odit dignissimos, dolore fugiat, ad unde ut eos ea odio recusandae nesciunt aperiam voluptatum enim. Inventore, expedita. Iusto voluptatem sed aliquid fugit, necessitatibus pariatur earum consectetur voluptatum ullam numquam omnis ut, praesentium natus totam beatae nesciunt quae eos voluptas consequatur. Fugit laudantium sapiente quaerat quam, debitis omnis minus tenetur aliquid sed impedit doloribus, nesciunt facere, error tempora. Blanditiis nihil doloremque ut cumque in deserunt dolorum vitae id reiciendis debitis, consectetur cum error expedita, dignissimos porro repellat impedit quis delectus rerum incidunt quisquam suscipit repudiandae eius magnam aperiam! Id optio tenetur animi mollitia debitis praesentium! Quas omnis harum a labore illo maxime temporibus iste voluptas nisi!</p>
                <form>
                    <label for="family">Konu Başlığı: (Required)</label>
                    <input type="text" name="family" id="title" required>
                    <label for="email">E-postanız: (Required)</label>
                    <input type="text" name="email" id="email" required>
                    <label for="subject">Konu:</label>
                    <input type="text" name="subject" id="subject">
                    <label for="message">Mesaj:</label>
                    <textarea name="message" id="message"></textarea>
                    <button id="sendMessage" name="sendMessage" onclick="sendMessage()">Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>
