



<div class="main-part">
    <div class="about_me">
        <div class="container">
            <div class="row">
                <h1 class="title">HAKKIMDA</h1>
                <p>
                    <img class="img-circle" src ="/Media/Images/870c1704-bbaa-4738-9572-fae469bc5e07.png" alt="about me">
                    <span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. A inventore quae aspernatur amet quaerat unde quos modi et, maiores fugit nostrum quidem molestias, dolorem voluptatum quasi sequi eum sed dolorum rerum voluptate labore numquam aperiam? Impedit quia veritatis dignissimos. <span>Reiciendis</span> ipsum iure vero, architecto facere soluta, amet dicta ad, ducimus doloribus veniam ipsam nisi, minus placeat. Fugit quas modi eius dolore ipsam ipsum consequatur aliquid accusantium laborum non a tenetur ratione, soluta deleniti vero recusandae libero, earum expedita, laboriosam magni itaque nobis accusamus reiciendis consectetur. Tempora dolor, omnis voluptatum molestiae suscipit deserunt est minima deleniti cum qui! Excepturi, optio adipisci quas consequuntur eveniet porro atque eos ex dolorem omnis facere repellendus, nihil aspernatur aperiam maiores beatae! Quidem placeat animi repudiandae sint tempora fugiat laborum consequatur, <span>modi culpa nisi atque doloremque</span> incidunt odio, maiores praesentium totam necessitatibus! Quisquam tempora, maiores praesentium saepe, ea officia. Ex cum adipisci minima hic velit quam.
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam itaque perspiciatis, doloremque natus iusto, omnis, officiis quis saepe  <span>quasi </span>mollitia sint quas. Molestias voluptatibus non incidunt temporibus, inventore magni eos velit. Nesciunt vel modi quae provident, optio tempora, molestias, corporis eveniet rerum delectus ullam eum molestiae dolore itaque harum fugit dicta nostrum sapiente aspernatur doloribus veritatis possimus vitae magni quidem! Vel officiis voluptates voluptatum adipisci quis, dicta iure assumenda placeat ea, aut inventore quod, quam eos ad a, quas labore. Officiis repellendus sint aperiam expedita pariatur dolorem recusandae iste sed doloribus magnam suscipit quisquam a, illum architecto impedit at asperiores!
                </p>
            </div>
        </div>
    </div>
</div>