@using MVC.Blog.DAL.Data
@model About



<div class="main-part">
    <div class="about_me">
        <div class="container">
            <div class="row">
                <h1 class="title">HAKKIMDA</h1>
                <p>
                    @*<img class="img-circle" src="/Media/Images/870c1704-bbaa-4738-9572-fae469bc5e07.png" alt="about me">*@
                </p>
                <p>@Html.Raw(Model.AboutContent)</p>
            </div>
        </div>
    </div>
</div>