
@using MVC.Blog.DAL.Data
@model IEnumerable<MediaUpload>


<div class="kt-mainpanel">
    <div class="kt-pagetitle">
        <h5>Dosya Yöneticisi</h5>
    </div><!-- kt-pagetitle -->
    <div class="kt-pagebody">
        <div class="content-wrapper">



            <div class="content-body">
                <div class="content-body-header">
                    <div class="d-flex ">
                        <a class="btn btn-default" href="/Admin/Media/Upload">...</a>
                        <div class="btn-group mg-b-0 mg-r-10 hidden-lg-up">
                        </div><!-- btn-group -->
                    </div>

                    @*@Ajax.ActionLink("İleri", "FileManager", new AjaxOptions
               {
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "tablo",
                   HttpMethod = "GET"
               })*@
                
                    <div class="mg-l-auto">
                        <div class="btn-group mg-b-0 mg-l-5">
                            <button id="trash" class="btn btn-secondary disabled" data-toggle="tooltip" data-placement="top" title="Silmek için tıklayın"><i class="icon ion-ios-trash-outline tx-20"></i></button>
                            <button class="btn btn-secondary disabled" id="previous"><i class="icon ion-ios-arrow-back tx-20"></i></button>
                            <button class="btn btn-secondary" id="next"><i class="icon ion-ios-arrow-forward tx-20"></i></button>
                        </div><!-- btn-group -->
                    </div>
                
                </div><!-- content-body-header -->
                <div id="tablo">
                    @Html.Partial("_FileManagerTable", Model)
                </div>


            </div><!-- content-body -->
        </div><!-- content-wrapper -->
    </div><!-- kt-pagebody -->
</div>

@section scripts{

    <script>

        $(document).ready(function () {
            $("#trash").click(function () {
                var tiklanan = $(this);
                var Secilenler = "";
                $('#uploaded :checked').each(function (index, item) {
                    //Secilenler.push($(this).val());
                    Secilenler += $(item).val() + " ";
                });

                $.ajax({
                    url: "/Media/DeleteUpload/?Secilenler=" + Secilenler,
                    type: "get",
                    datatype: "json",
                    success: function (response) {
                        console.log(response);
                        $.each(response, function (index, value) {
                            $("tbody tr").remove("#deleted_" + value);
                        });
                    },
                    error: function (xhr) {
                        alert('İşlem başarısız!');
                    }

                });
            });

        });

        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });

        $(document).ready(function () {
            $(".page-link").click(function () {
                var id = $(this).text();
                alert(id);
            });
        });

        var currentPage = @ViewBag.currentPage
        $(document).ready(function () {
            $("#next").click(function () {
                currentPage++;
                $.ajax({
                    url: "/Admin/Media/FileManager?Page=" + currentPage,
                    type: "POST",
                    datatype: "html",
                    success: function (response) {
                        $("#tablo").html(response);
                    },
                    error: function () {
                        alert("Hata!");
                    }
                });
            });
            $("#previous").click(function () {
                currentPage--;
                $.ajax({
                    url: "/Admin/Media/FileManager?Page=" + currentPage,
                    type: "POST",
                    datatype: "html",
                    success: function (response) {
                        $("#tablo").html(response);
                    },
                    error: function () {
                        alert("Hata!");
                    }
                });
            });
        });




    </script>


}