@using System.Web.Optimization
@using MVC.Blog.DAL.Data
@{
    Layout = null;
}
@model IEnumerable<MediaUpload>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Dosya Yükleme</title>
    @Styles.Render("~/bundlesLoginv2/styles")
</head>
<body>
    <div class="signpanel-wrapper">
        <div class="signbox">
            <div class="header ">
                <h4 style="text-align:center">Dosya Yükleme</h4>  
            <p style="text-align:center">Yüklemek istediğiniz dosyaları seçip,dosya yükle butonuna tıklayınız.</p>           
            </div><!-- signbox-header -->
        <br />
           @using (Html.BeginForm("Upload", "Media", FormMethod.Post, new { @enctype = "multipart/form-data"}))
           {
            @Html.TextBox("files", null, new { @type = "file", @multiple = true, @accept = "image/*"})
               <br />
            <input type="submit" name="name" value="Yükle" class="btn btn-default btn-block" />
           }
        </div><!-- signbox -->
    </div><!-- signpanel-wrapper -->
    @Scripts.Render("~/bundlesLoginv2/scripts")
</body>
</html>


